@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'shrikhand';
    src: url('../fonts/shrikhand-regular.ttf');
    font-weight: normal;
    font-style: normal;

}

html
{
    height: 100%;
    font-family: 'shrikhand';
}

body
{
    height: 100%;
    padding: 0;
    margin: 0;
}

/*HEADER*/

header
{
    height: 100px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*STEPS*/

#steps
{
    width: 100%;
    background-color: rgb(238, 236, 236);

    p 
    {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center; 
    }

    .localisation
    {
        margin-top: -20px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: -20px;
        background-color: rgb(224, 223, 223);
        box-shadow: 0px 2px 2px rgb(160, 159, 159) inset;
        
    }

    .map
    {
        padding-right: 13px;

    }

    .reserve
{
    margin-bottom: -2px;
    font-size: 22px;
    font-weight: bold;
}

.suite
    {
        margin-top: -15px;
    }

.button-1
    {
        display: block;
        width: 180px;
        height: 50px;
        background: linear-gradient(#FF79DA, #9356DC);
        color: #fff;
        font-size: 14px;
        margin: 0 auto;
        line-height: 50px;
        text-align: center;
        border-radius: 40px;
        text-decoration: none;
    }
.button-1:hover
    {
        background: #02b8dd;
    }

}

/*POSSIBILITIES*/

#possibilities
{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    h2
    {
        margin-left: 20px;
        margin-top: 40px;
        margin-bottom: -10px;

    }

    ul
    {
        list-style-type: none;

        li
        {
            position: relative;
            margin: 10px;
            left: -35px;

            .icone-btn
            {
                position: absolute;
                top: 23px;
                left: 30px;
                font-size: 14px;
            }

            .notif-left
            {
                border-radius: 50%;
                width: 13px;
                height: 14px;
                padding-left: 6px;
                padding-bottom: 1px;
                padding-top: 2px;
                color: white;
                background-color: #9356DC;
                font-size: 11px;
                position: absolute;
                top: 22px;
                left: -10px;
            }

            .button-2
            {
                background-color: rgb(238, 236, 236);
                border: none;
                box-shadow: 2px 2px 8px grey;
                border-radius: 15px;
                display: block;
                width: 290px;
                height: 60px;
                font-size: 13px;
                text-align: center;
                margin-top: 25px;
                
            }

            .button-2:hover
            {
                background: #fadafd;
            }
        }
    }
}

/*RESTAURANTS*/

article
{
        width: 100%;
        background-color: rgb(238, 236, 236);
        padding-bottom: 40px;

    h2
    {
        margin-left: 15px;
        margin-top: 50px;
        margin-bottom: 1px;
        padding-top: 40px;
    }

    .restaurant
    {
        height: 135px;
        width: 290px;
        border-radius: 15px 15px 0px 0px;
    }

    a
    {
        text-decoration: none;
        color: black;
    }

    .name
    {
       font-weight: bold;
       font-size: 20px;
       margin-left: 10px; 
       padding-top: -30px;
       padding-bottom: -20px;  

    }

    i
    {
        float: right;
        font-size: 20px;
        margin-right: 20px;
        color: rgba(128, 128, 128, 0.911);
    }

    i:hover
    {
        
        background-color: #fadafd;

    }

    .lieu
    {
        margin-top: -10px;
        margin-left: 10px;
        padding-bottom: 19px;
    }

    #bloc-1
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #bloc-2
    {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -15px;
    }

    .zoom-menus 
    {
        border: 0px black solid;
        border-radius: 15px;
        margin-top: 20px;
        background-color: white;
    }

    .zoom-menus:hover
    {
        overflow: hidden;
        transform: scale(1.15);
        transition: transform 0.6s ease-in-out;
        opacity: 0.8; 
    }
}

/*FOOTER*/

footer
{
    background-color: #080808d7;
    color: white;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: -19px;

    h3
    {
        padding-top: 25px;
    }

    p
    {
        font-size: 15px;
    }

    .footer
    {
        font-size: 10px;
        padding-right: 8px;
    }
}

/*RESPONSIVE*/

@media all and (min-width: 360px) 
{
    #possibilities
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h2
    {
        margin-right: 200px;
    }

    article
    {
        h2
        {
            margin-left: 23px;
        }

        .restaurant
        {
            height: 140px;
            width: 310px;
        }
    }
}

/*MENUS DISPOSITION*/

@media all and (min-width: 411px) 
{ 
    article
    {
        h2
        {
            margin-left: 28px;
        }

        .restaurant
        {
            height: 160px;
            width: 350px;
        }
    }
}

@media all and (min-width: 768px) 
{   
    article
    {
        h2
        {
            margin-left: 30px;
        }
    
        .cartes
        {
            display: grid;
            grid-template-areas: "a b";
            justify-content: center;
            grid-gap: 50px;
            margin: 50px;
        }

        .restaurant
        {
            height: 120px;
            width: 330px;
            border-radius: 15px 15px 0px 0px;
        }
    }
}

@media all and (min-width: 1000px) 
{   
    .cartes
    {
        display: grid;
        grid-template-areas: "a b";
        justify-content: center;
        grid-gap: 50px;
        margin: 50px;

        .restaurant
        {
            height: 190px;
            width: 460px;
            border-radius: 15px 15px 0px 0px;
        }
        
    }
}

@media all and (min-width: 1366px) 
{   
    article
    {
        h2
        {
            margin-left: 60px;
        }
    }
    .cartes
    {
        display: grid;
        grid-template-areas: "a b";
        justify-content: center;
        grid-gap: 50px;
        margin: 50px;

        .restaurant
        {
            height: 380px;
            width: 870px;
            border-radius: 15px 15px 0px 0px;
        }
    }
}
