@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/roboto-regular-webfont.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'shrikhand';
  src: url("../fonts/shrikhand-regular.ttf");
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

.omf-style {
  font-family: 'shrikhand';
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'robotoregular';
}

/*HEADER*/
header {
  height: 100px;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*STEPS*/
#steps {
  width: 100%;
  background-color: #eeecec;
}

#steps p {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#steps .localisation {
  margin-top: -20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: -20px;
  background-color: #e0dfdf;
  -webkit-box-shadow: 0px 2px 2px #a09f9f inset;
          box-shadow: 0px 2px 2px #a09f9f inset;
}

#steps .map {
  padding-right: 13px;
}

#steps .reserve {
  margin-bottom: -2px;
  font-size: 22px;
  font-weight: bold;
}

#steps .suite {
  margin-top: -15px;
}

#steps .button-1 {
  display: block;
  width: 230px;
  height: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: #fff;
  font-size: 14px;
  margin: 0 auto;
  line-height: 50px;
  text-align: center;
  border-radius: 40px;
  text-decoration: none;
}

#steps .button-1:hover {
  background: #02b8dd;
}

/*POSSIBILITIES*/
#possibilities {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#possibilities h2 {
  margin-left: 20px;
  margin-top: 40px;
  margin-bottom: -10px;
}

#possibilities ul {
  list-style-type: none;
}

#possibilities ul li {
  position: relative;
  margin: 10px;
  left: -35px;
}

#possibilities ul li .icone-btn {
  position: absolute;
  top: 23px;
  left: 30px;
  font-size: 14px;
}

#possibilities ul li .notif-left {
  border-radius: 50%;
  width: 13px;
  height: 14px;
  padding-left: 6px;
  padding-bottom: 1px;
  padding-top: 2px;
  color: white;
  background-color: #9356DC;
  font-size: 11px;
  position: absolute;
  top: 22px;
  left: -10px;
}

#possibilities ul li .button-2 {
  background-color: #eeecec;
  border: none;
  -webkit-box-shadow: 2px 2px 8px grey;
          box-shadow: 2px 2px 8px grey;
  border-radius: 15px;
  display: block;
  width: 290px;
  height: 60px;
  font-size: 13px;
  text-align: center;
  margin-top: 25px;
}

#possibilities ul li .button-2:hover {
  background: #fadafd;
}

/*RESTAURANTS*/
article {
  width: 100%;
  background-color: #eeecec;
  padding-bottom: 40px;
}

article h2 {
  font-size: 20px;
  margin-left: 15px;
  margin-top: 50px;
  margin-bottom: 1px;
  padding-top: 40px;
}

article .restaurant {
  height: 130px;
  width: 290px;
  border-radius: 15px 15px 0px 0px;
}

article a {
  text-decoration: none;
  color: black;
}

article .name {
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  margin-left: 10px;
  padding-top: -30px;
  padding-bottom: -20px;
}

article i {
  float: right;
  font-size: 20px;
  margin-right: 20px;
  color: rgba(128, 128, 128, 0.911);
}

article .plein {
  color: #9356DC;
}

article i:hover {
  background-color: #fadafd;
}

article .lieu {
  margin-top: -15px;
  margin-left: 10px;
  padding-bottom: 15px;
}

article #bloc-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

article #bloc-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -17px;
}

article .zoom-menus {
  border: 0px black solid;
  border-radius: 15px;
  margin-top: 20px;
  background-color: white;
}

article .zoom-menus:hover {
  overflow: hidden;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  opacity: 0.8;
}

/*FOOTER*/
footer {
  background-color: #080808d7;
  color: white;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-top: -19px;
}

footer h3 {
  font-size: 15px;
  padding-top: 25px;
}

footer p {
  font-size: 15px;
}

footer .footer {
  font-size: 10px;
  padding-right: 8px;
}

/*RESPONSIVE*/
@media all and (min-width: 360px) {
  #possibilities {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  h2 {
    margin-right: 200px;
  }
  article h2 {
    margin-left: 23px;
  }
  article .restaurant {
    height: 140px;
    width: 310px;
  }
}

/*MENUS DISPOSITION*/
@media all and (min-width: 411px) {
  article h2 {
    margin-left: 28px;
  }
  article .restaurant {
    height: 160px;
    width: 350px;
  }
}

@media all and (min-width: 768px) {
  article h2 {
    margin-left: 30px;
  }
  article .cartes {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "a b";
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 50px;
    margin: 50px;
  }
  article .restaurant {
    height: 120px;
    width: 330px;
    border-radius: 15px 15px 0px 0px;
  }
}

@media all and (min-width: 1000px) {
  .cartes {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "a b";
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 50px;
    margin: 50px;
  }
  .cartes .restaurant {
    height: 190px;
    width: 460px;
    border-radius: 15px 15px 0px 0px;
  }
}

@media all and (min-width: 1366px) {
  article h2 {
    margin-left: 60px;
  }
  .cartes {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "a b";
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 50px;
    margin: 50px;
  }
  .cartes .restaurant {
    height: 380px;
    width: 870px;
    border-radius: 15px 15px 0px 0px;
  }
}
/*# sourceMappingURL=styles.css.map */